# Geral
node_modules/
dist/
build/
.DS_Store
Thumbs.db
.env

# Logs
logs
*.log
npm-debug.log*

# Padrões de sistema operacional
.DS_Store
Thumbs.db

# Padrões de IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Pastas específicas do projeto

# Backend (Node.js)
backend/node_modules/
backend/.env

# Frontend (React)
frontend/node_modules/
frontend/build/
