# .env (exemplo completo)
PORT=3000

# Token fake
TOKEN_ENABLE=true
TOKEN_ROUTE=/login
TOKEN_METHOD=POST
TOKEN_FIELD=access_token
TOKEN_STATUS=200
JWT_SECRET=troque-isto-em-producao
JWT_ALG=HS256
JWT_TTL=3600
TOKEN_TYPE=Bearer
INCLUDE_EXPIRES_IN=true
INCLUDE_REFRESH_TOKEN=false

# Rotas mock dinâmicas
MOCK_COUNT=2
MOCK_RESP_DIR=./mocks

MOCK_1_ROUTE=/users
MOCK_1_METHOD=GET
MOCK_1_FILE=users.json
MOCK_1_STATUS=200
MOCK_1_HEADERS={"x-mock":"users"}
MOCK_1_DELAY_MS=0
MOCK_1_CONTENT_TYPE=application/json

MOCK_2_ROUTE=/orders
MOCK_2_METHOD=POST
MOCK_2_FILE=create-order.json
MOCK_2_STATUS=201
MOCK_2_HEADERS={}
MOCK_2_DELAY_MS=300
MOCK_2_CONTENT_TYPE=application/json
